<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
</head>
<!-- CSS Font google -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
</style>


<div class="flex">
    <div class="card-conteiner">
        <div class="imagen">
            <img src="{{imagenes[0]}}" alt="" srcset="">
        </div>

        <div class="creditos">
            <div class="costadoIzquierdo">
                <div class="imagenCI">
                    <img src="https://brandemia.org/contenido/subidas/2017/01/nintendo_switch_logo.jpg" alt="">
                </div>
            </div>
            <div class="costadoDerecho">
                <div class="titulo">
                    <span>{{titulo_Array[0].title}}</span>
                </div>
                <div class="visualizaciones">
                    <span>Nintendo 64 ®</span>
                    <span>38,027 visualizaciones • 4 meses</span>
                </div>
            </div>
        </div>

    </div>
    <div class="card-conteiner">
        <div class="imagen">
            <img src="{{imagenes[1]}}" alt=""
                srcset="">
        </div>

        <div class="creditos">

            <div class="costadoIzquierdo">
                <div class="imagenCI">
                    <img src="{{imagenes[1]}}" alt="">
                </div>
            </div>
            <div class="costadoDerecho">
                <div class="titulo">
                    <span>{{titulo_Array[1].title}}</span>
                </div>
                <div class="visualizaciones">
                    <span>Nintendo 64 ®</span>
                    <span>89,027 visualizaciones • 4 meses</span>
                </div>
            </div>
        </div>

    </div>
    <div class="card-conteiner">
        <div class="imagen">
            <img src="{{imagenes[2]}}" alt=""
                srcset="">
        </div>

        <div class="creditos">

            <div class="costadoIzquierdo">
                <div class="imagenCI">
                    <img src="{{imagenes[2]}}" alt="">
                </div>
            </div>
            <div class="costadoDerecho">
                <div class="titulo">
                    <span>{{titulo_Array[2].title}}</span>
                </div>
                <div class="visualizaciones">
                    <span>Nintendo 64 ®</span>
                    <span>10,027 visualizaciones • 4 meses</span>
                </div>
            </div>
        </div>

    </div>
    <div class="card-conteiner">
        <div class="imagen">
            <img src="{{imagenes[3]}}" alt=""
                srcset="">
        </div>

        <div class="creditos">

            <div class="costadoIzquierdo">
                <div class="imagenCI">
                    <img src="{{imagenes[3]}}" alt="">
                </div>
            </div>
            <div class="costadoDerecho">
                <div class="titulo">
                    <span>{{titulo_Array[3].title}}</span>
                </div>
                <div class="visualizaciones">
                    <span>Nintendo 64 ®</span>
                    <span>49,021 visualizaciones • 4 meses</span>
                </div>
            </div>
        </div>

    </div>
</div>